.slider-container {
    /*Set width and height of the bxSlider*/
    width: 220px; 
    height: 230px;
    margin: 0 auto;
    margin-bottom: 40px;
    /* make images not overflow the container */
    
    /* Add the shadowy gray border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Make the slider take up 100% width of the container */
.bxslider {
    width: 100%; 
}

/* Make each slide take up 100% width of the slider */
.bxslider li {
    width: 100%; 
}

.bxslider img {
    /* Make images fill the width of the slide */
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    object-position: center;
}


