
/*Make behind body be the repeated image*/
html{
    background-image: url("../images/misc/guitarWallPaper.jpg");
    background-repeat: repeat;
}

/*set width to 800/change background to white, 
move to middle of page, make border, make shadow*/
body{ 
    font-family: sans-serif;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 0px;
    
    border-style: solid;
    border-color: black;
    border-width: 2px;
  
    box-shadow: 0px 10px 5px lightcoral, 
        -10px 10px 5px lightcoral, 10px 10px 15px lightcoral;
}


/*Header CSS: 
2 px black border, gradient, 
padding to push down the image and h2*/
header{
    border-bottom: 2px solid black;
    background: linear-gradient(45deg, white, salmon 75%, black); 
    padding-top: 10px;
}
header img{
    float: left;
    width: 80px;
}
header a{
    float: right;
}
header a img{
    width: 40px;
    margin-right:40px;
    margin-top: 5px;
}

header h2{
    font-size: 200%;
    margin-top: 0px;
    margin-bottom: 1px;
    width: 400px;
}

header h3{
    width: 400px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 125%;
    text-indent: 30px;
}



/* HORIZONTAL NAVBAR CSS*/
nav{
    background-color: lightcoral;
    font-weight: bold;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    align-items: center;
}

nav ul li:hover{
    background-color: #add8e6;
}

nav ul li{
    height: 40px;
    width: 133.33px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    
   
}

nav ul li a{
    align-items: center;
    text-decoration: none;
    display: flex;
    width: 130px;
    justify-content: center;
}

/*make sure hover and focus act the same*/
nav ul li a:hover, a:focus{
    color: #2c8ac7;
}


/*CSS FOR DROPDOWN MENU ON CONTACT*/
/*dont display till hovered, position it, stylize*/
/*fixed overlap with nav bar on dropdown*/
nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    background-color: lightcoral;   
}
/*Remove bottom border*/
nav ul li ul li{
    border: none;
}
/*display when contact is hovered*/
nav ul li:hover ul{
    display: block;
}
nav ul li:focus ul{
    display: block;
}

nav ul li a{
    color: #9b59b6;
}
nav ul li a:visited{
    color: #12395b;
}
main aside ul li a:focus, a:hover{
    color: #2880b9;
}




/*ASIDE NAVIGATION BUTTONS CSS*/
/*move left, width 160, fill down, 
20px paddingon bottom and top*/
main aside{
    float: left;
    width: 160px;
    padding: 20px 0px 20px;
    height: 520px;
    margin-right:20px;
}

/*line height 150% more than normal*/
main aside nav ul{
    margin-top: 0px;
    line-height: 250%;
    display: block;
}
main aside nav ul li{
    border: 2px solid black;
    width: 150px;
    float: left;
    margin: 5px 0px;
    background-color: lightcoral;
    text-align: center;  
    display: flex;
}


main aside ul li a{
    color: #9b59b6;
    width: 150px;
}

main aside ul li a:visited{
    color: #12395b;
}

main aside ul li a:focus, a:hover{
    color: #2880b9
}




/* SECTION CSS 

   20px pad on top,
   25px on rest
*/
main{
    background-color: white;
    padding-top: 20px;
    padding: 20px 25px 25px 25px;
}

/*h1, h2, h3 b-margin half size curr font .5em*/
main section h1{
    font-size: 150%;
    margin-bottom: .5em;
}

main section h1::first-letter{
    font-size: 200%;
}

/*top margin 80% curr font .8em*/
main section h2{
    font-size: 125%;
    margin-bottom: .5em;
    margin-top: .8em;
}

main section p{
    margin-bottom: .5em;
}

main section h3{
    font-size: 110%;
    margin-bottom: .5em;
}

/*LudwigDrumset.png*/
main section img{
   width: 150px;
}

/*Make link for drum bold/Change with interaction*/
main section p a{
    font-weight: bold;
    color: #9b59b6;
}
main section p a:focus, a:hover{
    color: #2880b9;
}
main section p a:visited{
    color: #12395b;
}

/* Footer CSS*/
/*reverse the gradient and add border*/
footer{
    border-top: 2px solid black;
    background: linear-gradient(45deg, black, salmon 25%, white);
    height: 50px;  
}

/*center*/
footer p:nth-child(1){
    display: inline-block;
    text-align: center;
    font-size: 90%;
    position: absolute;
    left: 45%;
}

footer p:nth-child(2){
    font-size: 90%;
    margin-right: 30px;
    float: right;
}


